$color-dark: #121212;
$color-dark-variant: #272727;
$color-red: #C84B31;
$color-green: #346751;
$color-grey: #ECDBBA;
$color-white: #FFFFFF;

$color-background: $color-dark;
$color-surface: $color-dark-variant;
$color-surface-contrast: $color-grey;
$color-accent: $color-red;
$color-accent-contrast: $color-dark-variant;
$color-primary: $color-green;
$color-primary-contrast: $color-grey;

/* General */
$background-color: $color-background;

/* Buttons */
$button-text-color: $color-primary-contrast;
$button-text-color-active: $color-dark;

/* Inputs */
$input-background-color: $color-surface;
$input-text-color: $color-surface-contrast;

/* Notifications */
$notification-color-info: #3685B5;
$notification-color-success: $color-green;
$notification-color-warning: #BC7710;
$notification-color-error: $color-red;
